@model List<MVCClient.Models.TodoItem>

@{
    ViewBag.Title = "Todo Page";
    Layout = "_Layout";
}

<h2>Todo</h2>
<table>
    @foreach (var item in Model)
    {
        <tr>
            <td>Todo ID: @item.id</td>
            <td>Todo Name: @item.name</td>
            <td>Is Completed: @item.isComplete</td>
        </tr>
    }
</table>